.container {
  display:block;
  position: absolute;
  background-color: #ccc;
  width: 100%;
  height: 100%;
  margin: auto;

}

h1 {
  text-align: center;
  font-family: fantasy;
}

.player1Image, .player2Image {
  display: block;
  position: absolute;
  width: 60%;
  height: 50%;

}




.player1Title {
  position: relative;
  display: block;
  /*left: 10%;*/
  float: left;
  top: 40px;
  left: 100px;

}

.player2Title {
  position: relative;
  display: block;
  /*left: 1000px;*/
  float: right;
  top: 50px;
  right: 700px;
}

.P1Health {
  position: absolute;
  text-align:center;
}

.P2Health {
  position: absolute;
  text-align: center;
}

.Reset {
  display: block;
  left: 400px;
}
